/* bleu : #79cbdb */
/* gris : #505057 */
/* noir : #2e2e30 */

@font-face {
    font-family: 'source_sans_prolight';
    src: url('fonts/sourcesanspro-light-webfont.eot');
    src: url('fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'source_sans_proregular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('fonts/sourcesanspro-semibold-webfont.eot');
    src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'source_sans_proregular', Arial, serif;
	color: #505057;
	margin: 0;
}

#bloc_page
{
	display: flex;
	flex-direction: row-reverse;
}


/* contenu formation, expérience*/
#contenu
{
	flex : 2.05;
}

.prenom 
{
	color: #79cbdb;
	font-family: 'source_sans_proregular',Arial, serif;
	margin-right: 15px;
}

#contenu p, h1, h3, h4, li
{
	width: 85%;
	margin: auto;
}

#contenu h1
{
	font-size: 5.7em;
	margin-top: 120px;
	font-family: 'source_sans_prolight', Arial, serif;
	color: #2e2e30;
}

#contenu h1 + p
{
	font-size: 2.4em;
	margin-bottom: 160px;
	font-family: 'source_sans_prosemibold', Arial, serif;
}

.petit_trait
{
	border-bottom: 3px solid #79cbdb;
}

#contenu h2
{
	width: 85%;
	margin: auto;
	margin-top: 80px;
	font-size: 2.6em;
	font-weight: normal;
	color: #2e2e30;
	text-transform: uppercase;
	border-bottom: 3px solid #79cbdb;
	font-family: 'source_sans_prosemibold', Arial, serif;
	padding-bottom: 15px;
}

#contenu h3
{
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
}

#contenu h4
{
	font-size: 1.4em;
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: bold;
}

#contenu li
{
	font-size: 1.4em;
	font-weight: bold;
	list-style-type: none;
}

li
{
	margin-left: 80px;
}

.fa-dot-circle
{
	color: #79cbdb;
	margin : 0px 10px 0px -33px;
}

.icone
{
	margin-right: 30px;
	margin-left: 7px;
	color: #79cbdb; 
}

#contenu p
{
	justify-content: center;
	text-align: justify;
	font-size: 1.4em;
}

.prems
{
	display: flex;
	align-items: flex-start;
	margin-top: 50px;
}

.dates
{
	flex: 1;
	font-weight: bold;
}

.infos
{
	flex: 2;
}


/* contenu recommandations */
.rec
{
	display: flex;
	justify-content: space-around;
}

#recommandations h3
{
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 50px;
}

#recommandations h4
{
	font-weight: bolder;
	margin-top: 10px;
	line-height: 20px;
	margin-bottom: 10px;
}


.premier_partie
{
	flex: 1;
	margin-left: 50px;
}

.deuxieme_partie
{
	flex: 1;
	margin-bottom: 40px;
}

.premier_partie a, .deuxieme_partie a
{
	color: #505057;
	text-decoration: none;
}

.premier_partie a:hover, .deuxieme_partie a:hover
{
	font-weight: bold;
	font-size: 1em;
}

/* banderole */
#banderole
{
	flex: 0.95;
	background-color: #79cbdb;
}

#photo_identité
{
	text-align: center;
}

#photo_identité img
{
	border-radius: 50%;
	box-shadow: 0px 0px 15px black;
	margin: 80px 80px 0px 80px;
	width: 300px;
	height: 300px;
}

#banderole h2
{
	text-align: center;
	background-color: #505057;
	color: #79cbdb;
	font-size: 2.6em;
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 0px 8px 0px;
	text-shadow: 0px 0px 3px black;
	margin: 70px 0px 45px 0px;
	font-family: 'source_sans_prosemibold', Arial, serif;

}

#banderole p
{
	width: 80%;
	margin: auto;
	justify-content: center;
	text-align: justify;
	font-size: 1.4em;
	margin-top: 30px;
}

#rubriques a
{
	color: #505057;
	text-decoration: none;
}

#rubriques a:hover
{
	font-weight: bold;
	font-size: 1em;
}

#loisir
{
	margin-top: 930px;
}

.ico
{
	text-align: center;

}

.fa-guitar, .fa-laptop, .fa-running
{
	color: #505057;
	margin: 0 25px 40px;
}



@media all and (max-width: 1024px)
{
	#bloc_page
	{
		width: auto;
		display: flex;
		flex-direction: column;
	}

	.dates ul
	{
		padding-left: px;
	}

	.dates li
	{
		margin-left: 60px;
	}

	#loisir
	{	
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.fa-guitar, .fa-laptop, .fa-running
	{
		
		margin: 0 45px 40px;
	}


	@media all and (max-width: 600px)
{
	

	#contenu h1
	{
		font-size: 2em;
		margin-top: 50px;
	}

	#contenu h1 + p
	{
		font-size: 1.4em;
		margin-bottom: 120px;
	}

	#contenu h2
	{
		font-size: 1.7em;
	}

	#contenu h3
	{
		font-size: 1.5em;
	}

	#contenu p
	{
		font-size: 1.2em;
	}

	.prems
	{
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}

	.dates ul
	{
		padding: 0;
	}

	.rec
	{
		display: flex;
		flex-direction: column;
		align-content: : flex-end;
	}

	.premier_partie
	{
		margin-left: 0px;
	}

	#photo_identité img
	{
		margin: 70px 50px 0px 50px;
		width: 200px;
		height: 200px;
	}

	#banderole h2
	{
		font-size: 1.6em;
	}

	#banderole p
	{
		font-size: 1.2em;
	}

	
	.ico
	{
		font-size: 0.6em;
	}

	.fa-guitar, .fa-laptop, .fa-running
	{
		margin: 0 25px 20px;
	}

		
